

<div class="row">
	<div class="col-sm-6" style="text-align: center">
		<h1 id="title_demo" style="color: #fff;"> Upload Picture </h1>
		<div class="uploader">
			<img id="uploaded" style="width: 300px;" ng-src="{{ctrl.img_data}}"/>
			<input type="file" name="userprofile_picture" id="filePhoto" custom-on-change="ctrl.handleImage" style="margin-left: 45%">
		</div>
	</div>
	<div class="col-sm-6 well" style="margin-top: 6rem;">
		<div class="spinner" ng-show="ctrl.azured==true && !ctrl.azure.tags"></div>
		<h2 ng-show="ctrl.azure.tags">Suggested tags:</h2>
		<h2 class="btn btn-md btn-info" style="margin: 1rem; font-size: 2rem;" ng-repeat="a in ctrl.azure.tags">{{ a }}</h2>

		<div ng-repeat="c in ctrl.azure_colors" ng-style="display: inline-block; border-radius: 5rem; width: 20px; height: 20px; background-color: {{ c }}"></div>
	</div>
</div>  



<div class="row">
    <form>
    	<div class="form-group col-md-12">
	        <label for="d1">#</label>
	        <input id="tagbar" type="text" name="d1" ng-model="ctrl.d1" placeholder="Tag your picture" ng-keypress="ctrl.appendTag($event)">
	        <button class="btn btn-block btn-info"><i class="glyphicon glyphicon-send"></i></button>
        </div>
    </form>
</div>

<div class="row" ng-show="ctrl.inputtedTags">
	<span class="btn btn-sm btn-info" ng-repeat="a in ctrl.inputtedTags">{{ a }}</span>
</div>

<div class="row well" ng-show="ctrl.displayTags.length>0">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<h2 ng-repeat="b in ctrl.displayTags">
			<strong>{{ b[0] }}</strong> <span>{{ b[1] }}</span>
		</h2>
	</div>
</div>

<link href="//fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
<link rel="stylesheet" href="css/tag.css">